* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

/* ------------ Style NavBar ---------------- */
.active {
  text-decoration: underline;

  color: white;
  transition: color 0.3s;
}
